In [2]:
import pandas as pd
data=[10,20,30,40]
v=pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
data={
    'Name':['alice','bob','charlie'],
    'Age':[25,30,35],
    'City':['New York','Los Angeles','chicago']
}
df=pd.DataFrame(data)
print(df)
print(df.head(2))

      Name  Age         City
0    alice   25     New York
1      bob   30  Los Angeles
2  charlie   35      chicago
    Name  Age         City
0  alice   25     New York
1    bob   30  Los Angeles

In [8]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.head(10))
print(df.describe())
print(df.info())
print(df['UserID'])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None
0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [3]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.tail(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [12]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [13]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None

In [14]:
import pandas as pd
df=pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"quant"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [25]:
import pandas as pd
from datetime import date
now=pd.to_datetime(str(date.today()),format='%Y-%m-%d')
print("today's date:")
print(now)

today's date:
2025-01-28 00:00:00

In [27]:
import pandas as pd
from datetime import date
now=pd.to_datetime(str(date.today()),format='%Y-%m-%d')
print("today's date:")
print(now)

today's date:
2025-01-28 00:00:00

In [28]:
import pandas as pd
df=pd.read_csv("transactions.csv")
second_row=df.iloc[1].values
print("printing second row from transactions.csv file");
print(second_row)

printing second row from transactions.csv file
[2 '2011-05-26' 3.0 4 1]

In [29]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [36]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df[['UserID','ProductID']])

   UserID  ProductID
0     7.0          2
1     3.0          4
2     3.0          3
3     1.0          2
4     2.0          4
5     2.0          5
6     3.0          4
7     NaN          2
8     7.0          4
9     3.0          4

In [38]:
#1.Print Summary of transaction data set
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [40]:
#2.Print Numbers of Attributes
import pandas as pd
df=pd.read_csv("transactions.csv")
column_count=len(df.columns)
print(column_count)

5

In [42]:
#3.Print Numbers of Records
import pandas as pd
df=pd.read_csv("transactions.csv")
row_count=len(df)
print(row_count)

10

In [49]:
#4.Get the row names
import pandas as pd
df=pd.read_csv("transactions.csv")
row_names = df.index
print(row_names)
print(f"Row Names: {list(row_names)}")

RangeIndex(start=0, stop=10, step=1)
Row Names: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
#5.Get the column names
import pandas as pd
df=pd.read_csv("transactions.csv")
columns_names=df.columns
print(f"columns_names:{list(columns_names)}")

columns_names:['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [51]:
#6. View top 10 Records
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [54]:
#7.Change the name of column “ Quantity” to “Quant”
import pandas as pd
df=pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"Qty"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Qty
0              1      2010-08-21     7.0          2    1
1              2      2011-05-26     3.0          4    1
2              3      2011-06-16     3.0          3    1
3              4      2012-08-26     1.0          2    3
4              5      2013-06-06     2.0          4    1
5              6      2013-12-23     2.0          5    6
6              7      2013-12-30     3.0          4    1
7              8      2014-04-24     NaN          2    3
8              9      2015-04-24     7.0          4    3
9             10      2016-05-08     3.0          4    4

In [58]:
#8.Change the name of columns ProductID and UserID
import pandas as pd
df=pd.read_csv("transactions.csv")
df.rename(columns={"ProductID":"PID","UserID":"UID"},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [65]:
#9. Order the rows of transactions by TransactionId descending, 
#if ascending then ascending=True
import pandas as pd
df=pd.read_csv("transactions.csv")
row_dec=df.sort_values(by="TransactionID",ascending=False)
print(row_dec)

row_asc=df.sort_values(by="TransactionID",ascending=True)
print(row_asc)

row_asc=df.sort_values(by="ProductID",ascending=True)
print(row_asc)

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6
4              5      2013-06-06     2.0          4         1
3              4      2012-08-26     1.0          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [68]:
#10.Order the rows of transactions by Quantity
#ascending, TransactionDate descending
import pandas as pd
df=pd.read_csv("transactions.csv")
row_asc=df.sort_values(by="Quantity",ascending=True)
print(row_asc)

row_dec=df.sort_values(by="TransactionDate",ascending=False)
print(row_dec)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6
   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6
4              5      2013-06-06     2.0          4         1
3              4      2012-08-26     1.0          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [70]:
#11. Set the column order of Transactions as ProductID,
#Quantity, TransactionDate, TransactionID, UserID
import pandas as pd
df=pd.read_csv("transactions.csv")
column_change=["ProductID","Quantity","TransactionDate","TransactionID","UserID"]
df=df[column_change]
print(df)

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [72]:
#12. Make UserID the first column of transactions
import pandas as pd
df=pd.read_csv("transactions.csv")
column_change=["UserID","TransactionID","TransactionDate","UserID","ProductID","Quantity"]
df=df[column_change]
print(df)

   UserID  TransactionID TransactionDate  UserID  ProductID  Quantity
0     7.0              1      2010-08-21     7.0          2         1
1     3.0              2      2011-05-26     3.0          4         1
2     3.0              3      2011-06-16     3.0          3         1
3     1.0              4      2012-08-26     1.0          2         3
4     2.0              5      2013-06-06     2.0          4         1
5     2.0              6      2013-12-23     2.0          5         6
6     3.0              7      2013-12-30     3.0          4         1
7     NaN              8      2014-04-24     NaN          2         3
8     7.0              9      2015-04-24     7.0          4         3
9     3.0             10      2016-05-08     3.0          4         4

In [76]:
#13  Extracting arrays from a Data Frame. Get the 2nd
#column
import pandas as pd
df=pd.read_csv("transactions.csv")
second_column=df.iloc[:,1]
print(second_column)

second_column_array=second_column.values
print(second_column_array)

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object
['2010-08-21' '2011-05-26' '2011-06-16' '2012-08-26' '2013-06-06'
 '2013-12-23' '2013-12-30' '2014-04-24' '2015-04-24' '2016-05-08']

In [77]:
#14  Get the ProductID Array
product_array=df['ProductID'].values
print(product_array)

[2 4 3 2 4 5 4 2 4 4]

In [ ]:
#15  Get the ProductId array using the following variable

In [79]:
#16 Row subsetting, subset rows 1,3 and 6
subset_row=df.iloc[[1,3,6]]
print(subset_row)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [ ]:
#17  subset rows excluding 1,3 and 6
foo=[True,False,True,False,True,True,True]

In [2]:
#18  Subset the first three rows   
import pandas as pd
df=pd.read_csv("transactions.csv")
subset_df=df.head(3)
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [3]:
#19  Subset the last 2 rows
subset_df=df.head(2)
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1

In [4]:
#20  Subset rows excluding the last 2 rows
subset_df = df.iloc[:-2]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [5]:
#21  Subset rows excluding the first 3 rows
subset_df = df.iloc[3:]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [6]:
#22 . Subset rows where Quantity>1
subset_df = df[df['Quantity'] > 1]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
#23 Subset rows where UserID=2
subset_df = df[df['UserID'] == 2]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [8]:
#24. Subset rows where Quantity>1 and UserID=2
subset_df = df[(df['Quantity'] > 1) & (df['UserID'] == 2)]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [9]:
#25. Subset rows where Quantity + UserID is >3
subset_df = df[(df['Quantity'] + df['UserID']) > 3]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [10]:
#26. Subset rows where an external array, foo, is True
foo = [True, False, True, True, False, True, False, True, True, False]
subset_df = df[foo]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

In [12]:
#27. Subset rows where an external array, bar, is positive
bar = [1, -1, 2, 3, 0, 6, -3, 2, 4, -5]
subset_df = df[pd.Series(bar) > 0]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

In [13]:
# 28. Subset rows where foo is TRUE or bar is negative
foo = [True, False, True, True, False, True, False, True, True, False]
bar = [1, -1, 2, 3, 0, 6, -3, 2, 4, -5]

subset_df = df[(pd.Series(foo) == True) | (pd.Series(bar) < 0)]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [ ]:
# 29. Subset the rows where foo is not TRUE and bar is not
#negative
subset_df = df[(pd.Series(foo) != True) & (pd.Series(bar) >= 0)]
print(subset_df)

In [ ]:
#30. Subset by columns 1 and 3
subset_df = df.iloc[:, [0, 2]]
print(subset_df)

In [ ]:
#31. Subset by columns TransactionID and
#TransactionDate
subset_df = df[['TransactionID', 'TransactionDate']]
print(subset_df)

In [ ]:
#32. Subset by columns TransactionID and
#TransactionDate with logical operator
subset_df = df[(df['TransactionID'] > 5) & (df['TransactionDate'] < '2015-01-01')]
print(subset_df)

In [ ]:
#33 Subset columns by a variable list of column names
columns_to_select = ['TransactionID', 'Quantity']
subset_df = df[columns_to_select]
print(subset_df)

In [ ]:
#34. Subset columns excluding a variable list of column
#names
columns_to_exclude = ['UserID', 'ProductID']
subset_df = df.drop(columns=columns_to_exclude)
print(subset_df)

In [17]:
#35. Inserting and updating values
df.loc[0, 'Quantity'] = 10 
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2        10   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0

In [15]:
#36. Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0

In [14]:
#37. Insert a new column, Foo=UserID+ProductID
df['Foo'] = df['UserID'] + df['ProductID']
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0